
body{
    font-family: sans-serif;
    font-weight: 1rem;
}
    
.inp{
    width:100%;
    height: 30px;
    border: 0px solid ;
    background-color: #fcf1f1;
    padding: 10px; 
}
.imgicon{
    width: 28px;
    height:28px;
}
.icon{
    width: 30px;
    height: 30px;
}
.icons{
    width: 42px;
    height: 42px;
}
.cam{
    width: 30px;
    height: 30px;
    margin-left:90px;
    margin-top: 30px;
}
.show{
    width:10;
    height: 50px;
    background-color: grey;
}
.imp{
    width: 350px;
    height: 50px;
    border: .5px solid black;
    border-radius:25px;
    background-color: rgba(207, 203, 203, 0.233);
    cursor: pointer;
    padding:10px;
    font-family: inherit;
    font-weight: 600;
}
.iccon{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.btn{
    
    margin-top: 10px;
    border: 0px;
}
.btnn{
    width:15px;
    height:15px;
   
    
    border: 0px;
    position: relative;
}
.info{
    width: 15px;
    height:10px;
    margin-left:75px;
    border: 0px;
    position: absolute;
    margin-top: -10px;
}
.cdiv{
    margin-left: 39px;
}
.texts{
    
    margin-left: 57px;
    margin-top: -15px;
}

