

    
.inp{
    width:100%;
    height: 30px;
    border: 0px solid ;
    background-color: #fcf1f1;
    padding: 10px; 
}
.imgicon{
    width: 28px;
    height:28px;
}
.icon{
    width: 30px;
    height: 30px;
}
.icons{
    width: 42px;
    height: 42px;
}
.sidebar{
    max-width: 100%;
    height:500px;
}
